<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../views/partials/header'); %>
        <title>Nuevo libro</title>
</head>

<body>
<%- include('../views/partials/navigation'); %>
    <div class="container p-4">
        <div class="row">
            <% books.forEach(function (book) {%>
                <div class="col-md-4">
                    <div class="card" style="width: 22rem;">
                        <div class="card-header text-capitalize bg-primary text-white">
                            <%= book.title %> | <%= book.author %>
                        </div>
                        <img class="card-img-top" src="<%= book.image %>">
                        <div class="card card-body">
                            <%= book.description %>
                        </div>
                        <div class="card-footer">
                            <a href="/delete/<%= book.id %>" class="btn btn-danger btn-block">
                                Borrar
                            </a>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>
<%- include('../views/partials/footer'); %>
</body>

</html>
